# WordPress files
advanced-cache.php
object-cache.php
cms/assets/db.php
cms/assets/uploads/
cms/assets/uploads
cms/assets/upgrade/*
cms/assets/backup-db/*
cms/assets/cache/*
cms/assets/cache/supercache/*
cms/assets/w3tc/*
sitemap.xml
sitemap.xml.gz

# Log files
*.log
error_log

# Plugin directories
cms/assets/plugins/wordfence/tmp/
cms/assets/wfcache/
cms/assets/wflogs/
backups/
cms/wp-content/uploads/backupbuddy_temp/

# Cornershop files
design/
wires/
.sass-cache/
node_modules

# GoWP files
/sucuri-*

# Exported top level SQL files
/*.sql
/*.sql.gz
/cms/*.sql
/cms/*.sql.gz

# Project files
*.sublime-*
.idea/
.ideas/
sftp-config.json

# Site specific ignores

