# Don't bother showing diffs for Crate's or Minerva's compiled CSS,
# or for sourcemaps or minified files in general
cms/assets/themes/crate/css/*.css -diff
cms/assets/themes/minerva/css/*.css -diff
*.map -diff
*.min.* -diff
