/**
 * Styles for action links below hero/content (back to post type archive, etc.)
 */

.entry-actions {

	@include breakpoint( $tablet ) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.back-link {
		@extend %charcoal-link;
		font-weight: normal;
		display: block;
		margin: rem(30) 0 rem(50);

		@include breakpoint( $tablet ) {
			margin: 0;
		}

		&:before {
			@extend .icon-back-link-arrow;
			content: '';
			display: inline-block;
			margin-right: rem(10);
		}
	}

	.share-buttons {
		display: flex;
		align-items: center;
		margin: rem(20) 0;
		// Reserve space for the full height of the 'large' AddThis share buttons,
		// even before they load (so content below doesn't jump when they do load).
		min-height: rem(37);

		h2 {
			margin: 0 rem(20) 0 0;
			font-size: rem(16);
			text-transform: uppercase;
		}
	}
}

.entry-actions-after {
	display: block; // No flex zone.
	border-top: 1px solid $silver;

	.button-group {
		margin: rem(60) 0;
	}
}
