//-----------------------------------------------------------------------------
// Colors.
//-----------------------------------------------------------------------------

$white: #fff;
$silver: #d8d8d8;
$black: #2d2d2d;

$orange: #ff8a17;
$grass: #aacc00; // or sometimes #abca28
$sage: #3dbf9b; // or sometimes #3dbf9a
$cyan: #00c7f5;
$cobalt: #0047c1;

//-----------------------------------------------------------------------------
// Fonts.
//-----------------------------------------------------------------------------

$sans: 'Avenir Next';
$serif: 'Libre Baskerville';

//-----------------------------------------------------------------------------
// Screen widths.
//-----------------------------------------------------------------------------

$desktop: 1280px;
$tablet: 640px; // Arbitrary.
