.modal {
	padding: 5px;
	@include breakpoint( $tablet ) {
		padding: 40px;
	}
	header, h4 {
		text-align: center;
		max-width: 800px;
		margin: 0 auto;
	}
	h4 {
		@include breakpoint( max-width $tablet ) {
			display: none;
		}
	}
	.icon-logo {
		display: none;
		@include breakpoint( $tablet ) {
			display: block;
			margin: 0 auto;
			width: 120px;
			height: 120px;
			background-size: cover;
			margin-bottom: 30px;
		}
	}
	/* labels are visually hidden, thanks to placeholders */
	label {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	form {
		max-width: 460px;
		margin: 0 auto;
		@include breakpoint( $tablet ) {
			margin: 3rem auto 0;
		}
	}
	footer {
		display: none;

		@include breakpoint( $tablet ) {
			margin: 2em auto 0;
			max-width: 1000px;
			@include display(flex);

			a {
				@include flex(1);
				@include display(flex);
				@include align-items(center);
				@include justify-content(center);
				@include flex-direction(column);
				text-align: center;
				padding: 5px 20px;
				text-decoration: none;
				position: relative;
				&:nth-child(2):after,
				&:nth-child(2):before {
					content: "";
					width: 1px;
					height: 80%;
					background-color: $gray-med;
					position: absolute;
					right: 0;
					top: 10%;
				}
				&:nth-child(2):before {
					left: 0;
					right: auto;
				}
				h5 {
					color: $gold;
				}
				p {
					color: black;
				}
				&:hover {
					background-color: $lime;
					h5, p {
						color: white;
					}
					&:after, &:before {
						display:none;
					}
				}
			}

		}
	}
}

.featherlight {
	background: rgba( shade($deep-blue, 20%), 0.9 );
	&:last-of-type {
		background: rgba( shade($deep-blue, 20%), 0.9 );
	}
	.featherlight-content {
		border-radius: 3px;
	}
}

.modalform.featherlight {
	.featherlight-close-icon {
		border: none;
	}
	@include breakpoint( $tablet ) {
		.featherlight-close-icon {
			font-size: 20px;
			opacity: 0.5;
			top: 20px;
			right: 20px;
		}
	}
}

#signup-modal-thanks,
#signup-modal-opportunity-thanks, {
	header .button-group {
		margin-top: 2em;
		margin-bottom: 5em;
		@include breakpoint( max-width $tablet ) {
			display: block;
			& > .button {
				margin: 10px 1em;
			}
		}
	}
}

.video.featherlight {

	.featherlight-content {
		position: relative;
		width: 80vw;

		// Set a fixed aspect ratio.
		&:before {
			content: '';
			display: block;
			padding-top: percentage( 390 / 640 );
		}

		iframe {
			display: block;
			position: absolute;
			top: 0;
			height: 100%;
			left: 0;
			width: 100%;
		}
	}
}

// Lightbox CTA with huge text + fancy layout.
.cta-huge {
	font-size: rem(28);
	font-family: $serif;
	text-align: center;
	color: $deep-blue;

	@include breakpoint( $tablet ) {
		font-size: rem(45);
	}

	@include breakpoint( $medium ) {
		text-align: right;
		width: rem(800);
		background: url('../images/cta-huge-bg-2.jpg') no-repeat center center transparent;
		background-size: contain;
	}

	.logo {
		width: rem(114);
		margin: 0 auto;
		color: $bright-blue;
		fill: $deep-blue;

		@include breakpoint( $medium ) {
			float: left;
		}
	}

	form {
		max-width: 470px;

		@include breakpoint( $medium ) {
			margin-right: 0;
			margin-left: auto;
		}
	}

	p {
		margin: rem(16) 0;

		@include breakpoint( max-width ($medium - 1px) ) {
			// Ignore <br> tags on mobile.
			br {
				display: none;
			}
		}
	}

	strong {
		font-family: $sans;
		text-transform: uppercase;
	}

	.field {
		display: block;
		width: rem(200);
		margin: rem(6) auto;
		vertical-align: bottom;

		@include breakpoint( $tablet ) {
			display: inline-block;
			margin: rem(3);
		}

		%text-input {
			display: block;
		}
	}

	%text-input {
		font-size: rem(16);
		font-family: $sans;
		padding: 1em;
		color: $black;

		&::placeholder {
			font-weight: bold;
		}
	}

	.button-group {
		// Push button over slightly so that it *looks* centered relative to
		// left-aligned input fields.
		@include breakpoint( $medium ) {
			margin-left: rem(58);
		}
	}
}
