.search-listings a {
	text-decoration: none !important;
}

.search-listings h2 {
		font-size: 2rem;
}

.search-listings article {
	padding-bottom: 2rem;
	padding-top: 2rem;
	border-bottom: 1px solid $silver;
}

.search-listings nav {
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
}