.section-action-slider {

	.slider-controls {
		bottom: auto;
		padding-top: (440 / 980) * 100%; // Height/width of a slide image.
	}

	.slider-prev,
	.slider-next {
		width: rem(44);
		background-color: $lime;
		color: $white;

		@include breakpoint( $tablet ) {
			width: rem(68);
		}
	}

	.slider-prev {
		left: 0;

		@include breakpoint( $tablet ) {
			left: rem(-34);
		}
	}

	.slider-next {
		right: 0;

		@include breakpoint( $tablet ) {
			right: rem(-34);
		}
	}

	.slider-item {

		@include breakpoint( $tablet ) {
			text-align: center;
			padding-bottom: rem(15);
		}

		img {
			width: 100%;
		}
	}

	.slider-item-text {
		padding: rem(24) $page-padding rem(30);
		background: $white;
		box-shadow: 4px 6px 9px rgba(0, 0, 0, 0.15);

		@include breakpoint( $tablet ) {
			display: inline-block;
			vertical-align: bottom;
			margin-top: -18%;
			padding: rem(40) rem(50);
		}
	}

	h3 {
		font-size: rem(24);
	}

	.button-group {
		margin: rem(30) 0 rem(10);

		@include breakpoint( $tablet ) {
			margin-top: rem(40);
		}
	}
}
