.section-action-slider {

	.slider-prev {
		left: rem(-34);
	}

	.slider-next {
		right: rem(-34);
		transform: scaleX(-1);
	}

	.slider-item {
		text-align: center;
		padding-bottom: rem(15);

		img {
			width: 100%;
		}
	}

	.slider-item-text {
		display: inline-block;
		vertical-align: bottom;
		margin-top: -18%;
		padding: rem(40) rem(50);
		background: $white;
		box-shadow: 4px 6px 9px rgba(0, 0, 0, 0.15);
	}

	h3 {
		font-size: rem(24);
	}

	.button-group {
		margin: rem(40) 0 rem(10);
	}
}
