.section-callout {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	color: $white;
	margin-bottom: 50px;
	margin-top: 100px
}

.section-callout > div:first-child {
	margin-right: 20px;
}

.section-callout-white {
	font-family: Libre Baskerville;
	display: block;
	width: 100%;
	color: $black;
	margin-bottom: 50px;
	margin-top: 100px;

	&.bubble_background {
		@include svg-bg( 'bubbles-5-lime' );
		background-position: left center;
	}
}

.section-callout-white p {
	margin-top: 20px;
	font-size: 15px;
	line-height: 32px;
}

.callout-content {
	display: inline-block;
	width: 76%;
	margin-left: 12%;
	padding-top: 90px;
	min-height: 357px !important;
}

.brightblue_background {
	background-color: $bright-blue;
	}

.orange_background {
	background-color: $orange;
}

.teal_background {
	background-color: $teal;
}

.section-callout {

	&.logo_background .callout-content {
		background-image: url('/cms/assets/uploads/2016/10/Gen2Gen_FinalDesignReview-Copy.png');
		background-repeat: no-repeat;
		background-position: 10% -10%;
	}

	&.bubbles_background {
		@include svg-bg( 'bubbles-4-white' );
	}
}

.callout-heading {
	font-size: 36px;
	letter-spacing: 0.1px;
	line-height: 62px;
}

.callout_circle {
	width: 380px;
	float: right;
	margin-top: -175px;
	border-radius: 50%;
}

.callout_circle_white {
	width: 350px;
	float: left;
	border-radius: 50%;
	margin-left: 60px;
	margin-right: 20px;
	margin-top: -75px;
}

.callout_image {
	letter-spacing: 0.1px;
	line-height: 28px;
	padding-bottom: 40px;
}

.callout_text {
	width: 82% !important;
	margin-left: 10%;
	margin-top: -10px;
	padding-bottom: 20px;
	font-size: 24px;
	letter-spacing: 0.2px;
	line-height: 36px;
	font-weight: bold;
}

.second_column {
	padding: 10px;
	line-height: 28px;
	padding: 50px !important;

	.bubbles_background & {
		@include svg-bg( 'bubbles-4-white' );
		background-position: right center;
	}
}

.section-callout {
	.callout_two,
	.second_column {
		// Set a minimum width of 26rem per column (52 total), below which
		// two-column callouts should collapse to two rows instead.
		flex: 26rem 1 0;
	}
}

.callout-content.callout_two {
	padding: 50px !important;
	width: auto;
	margin: 0px;
	display: inline-block;
	line-height: 28px;
}

.second_column .callout-heading {
	line-height: 50px;
}

.callout_two .callout-heading {
	line-height: 50px;
}

.section-callout-white .callout-heading {
	margin-top: 100px;
}

.callout-inner {
	display: block;
	width: 50%;
	float: right;
	margin-top: -250px;
}

.caption-bubble {
		background-color: $lime;
		border-radius: 50%;
		width: 270px;
		height: 270px;
		padding-top: 70px;
		margin-bottom: -70px;
		margin-left: -20px;
		z-index: 214748364;
}

.callout-caption {
	text-align: center;
	width: 80%;
	margin-left: 10%;
	font-family: Avenir Next;
	font-weight: bold;
	font-size: 16px;
	color: $white;
	line-height: 28px;
	background-color: $lime;
}

.section-circle-grid + .section-callout-white {
  margin-top: -10.5em;
}

.section-callout-white + .section-partners-grid {
	margin-top: -50px;
}

@media screen and (max-width: 480px) {
  .callout-inner {
    width: 100%;
    margin-top: -70px;
  }
}
