.site-header {
	padding: rem(10) 0;
	position: relative;
	// We're using a 6px spread-radius instead of a 6px offset-y below, so that
	// the left & right corners look better.
	box-shadow: 0 0 9px 6px rgba(0, 0, 0, 0.15);

	@include breakpoint( $tablet ) {
		padding: rem(8) 0;
	}

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		// Make sure the .nav-nag button will wrap to a second line on mobile.
		flex-wrap: wrap;
	}

	&.has-current-submenu { // This class is added in nav.js.
		@include breakpoint( $desktop ) {
			border-bottom: rem(60) solid $grass;
		}
	}
}

// Replace .site-branding with logo.
.site-branding {
	display: flex;
	align-items: center;

	.site-title {
		margin: 0;
	}

	a {
		display: block;
	}

	h1,
	p {
		margin: 0 0 0 rem(14);

		@include breakpoint( $tablet ) {
			margin-left: rem(18);
		}
	}

	.icon-logo {
		display: block;
		background-size: cover;

		@include breakpoint( $tablet ) {
			width: 55px;
			height: 55px;
		}
	}

	.icon-powered-by {
		display: block;
		background-size: cover;

		@include breakpoint( $desktop ) {
			width: 88px;
			height: 25px;
		}
	}
}

.nav-toggle {
	flex-grow: 1; // Take up available space, and align contents right.
	display: flex;
	justify-content: flex-end;

	@include breakpoint( $tablet ) {
		// Here the nav-toggle is inline with .nav-nag, so make sure there's space
		// between them.
		margin: 0 1rem;
	}

	@include breakpoint( $desktop ) {
		display: none;
	}

	a {
		display: block;
	}
}

.nav-primary {
	position: absolute;
	background: $white;
	top: rem(70); // This is the height of the single-line menu.
	right: 0;

	&,
	.sub-menu {
		// Hide menus and submenus by reducing their height.
		overflow: hidden;
		max-height: 0;
		transition: max-height 0.2s ease-out;

		@include breakpoint( $desktop ) {
			// Reset positioning.
			position: static;
			// Don't hide menus on desktop.
			overflow: visible;
			max-height: none;
			// Stretch vertically to fit header.
			align-self: stretch;
			display: flex;
			align-items: stretch;
		}
	}

	&.is-open,
	.subnav-is-open .sub-menu {
		max-height: 1000px;
		transition: max-height 0.2s ease-in;
	}

	.menu {
		font-size: rem(30);
		padding: rem(15) 0;
		// Keep line-heights relative to main menu font size, so that sub-items
		// (which have smaller fonts) have the same line-height.
		line-height: 1em;

		@include breakpoint( $desktop ) {
			font-size: rem(15);
			line-height: 1.5;
			padding: 0;
			// When the screen is big enough, go inline.
			display: flex;
		}
	}

	.menu-item {
		padding: rem(15) rem(40);
		position: relative;

		@include breakpoint( $desktop ) {
			display: flex;
			padding: 0 rem(15);
			align-items: center;
		}

		a {
			display: inline-block;
			vertical-align: middle;

			@include breakpoint( $desktop ) {
				text-transform: uppercase;
			}
		}

		.subnav-toggle {
			margin-left: rem(20);
			@extend .icon-submenu-open;

			@include breakpoint( $desktop ) {
				display: none;
			}
		}
	}

	.sub-menu {
		font-size: rem(18);
		margin: 0 rem(-40);

		@include breakpoint( $desktop ) {
			position: absolute;
			top: rem(81); // 70px-tall menu minus 8px top padding, plus 19px submenu padding
			max-height: none;
			font-size: rem(15);
			background: $grass;
			// Center horizontally.
			left: -25vw;
			margin-left: 50%;
			width: 50vw;
			// Hide. Only .current-menu-item .sub-menu and
			// .current-menu-ancestor .sub-menu should be visible.
			display: none;
		}

		.menu-item {
			border-bottom: 1px solid $silver;

			&:first-child {
				margin-top: rem(20);
				border-top: 1px solid $silver;
			}

			@include breakpoint( $desktop ) {

				&,
				&:first-child {
					margin: 0;
					border: 0;
				}

				a {
					color: $white;
					text-transform: none;
					opacity: 0.4;

					&:hover {
						color: $white;
						opacity: 1.0;
					}
				}

				&.current-menu-item a {
					opacity: 1.0;
				}
			}
		}
	}

	.current-menu-item,
	.current-menu-ancestor {

		&.menu-item-has-children {

			&::after {
				@extend .icon-submenu-pointer;

				@include breakpoint( $desktop ) {
					content: '';
					display: block;
					position: absolute;
					bottom: rem(-21); // - ( 8px menu padding + 1/2( 26px image height ))
					left: -13px;
					margin-left: 50%;
				}
			}
		}

		> a {
			color: $grass;
		}

		.sub-menu {

			@include breakpoint( $desktop ) {
				display: flex;
				justify-content: center;
			}
		}
	}


	.subnav-is-open {

		.subnav-toggle {
			@extend .icon-submenu-close;
		}
	}
}

.nav-nag {
	width: 100%;
	margin-top: 1rem;

	@include breakpoint( $tablet ) {
		width: auto;
		margin: 0;
	}
}
