.hero {
	text-align: center;
}

.hero-image,
.hero-image img {
	display: block;
	width: 100%;
	height: auto;
}

.hero-text {
	padding: rem(35) $page-padding rem(45);
	color: $white;
	background: $deep-blue;

	@include breakpoint( $tablet ) {
		display: inline-block;
		position: relative;
		z-index: 2; // Render on top of relatively positioned hero image.
		padding: rem(40) rem(60);
		margin-top: -4.7%; // 60px (overlap in mockups) / 1280px (hero width).

		// If no hero image is present, remove negative top margin.
		&:first-child {
			margin-top: 0;
		}
	}

	// Make hovered buttons' text match this element's background.
	.button-white:hover {
		color: $deep-blue;
	}
}

.play-button-link {
	display: block;
	position: relative;

	&:after {
		content: ' ';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@extend .icon-video-play;
		background-repeat: no-repeat;
		background-position: center center;
		filter: drop-shadow( 1px 3px 12px rgba(0, 0, 0, 0.2) );
	}
}

/**
 * Styles for alternate hero layouts involving floated circular images.
 */

.hero-float {
	background: $deep-blue;
	color: $white;
	padding: rem(20) 0 rem(30);

	@include breakpoint( $tablet ) {
		padding: rem(60) 0;
		margin-bottom: rem(70 + 10); // Negative margin of .hero-image + desired bottom margin.
	}

	// Background patterns.
	.single-story & {
		@extend .icon-bubbles-1-white;
		background-repeat: no-repeat;
		background-position: center center;
		width: auto;
		height: auto;
	}

	.single-community & {
		@extend .icon-bubbles-2-bright-blue;
		background-repeat: no-repeat;
		background-position: center center;
		width: auto;
		height: auto;
	}

	.home & {
		@extend .icon-bubbles-3-bright-blue;
		background-repeat: no-repeat;
		background-position: center center;
		width: auto;
		height: auto;
	}

	.container {

		@include breakpoint( $tablet ) {
			display: flex;
			justify-content: flex-start;
		}
	}

	.hero-image {
		position: relative;

		@include breakpoint( $tablet ) {
			min-width: rem(300);
			margin-left: rem(30);
		}

		img {
			border-radius: 50%;
			margin: 0 auto;
		}
	}

	.hero-text {
		padding: rem(14) 0;
		margin: 0;
		text-align: left;
		line-height: 1.75;
		background: transparent;

		@include breakpoint( $tablet ) {
		
			@include nested( 10 ) {
				width: span(4);
			}
		}
	}

	.entry-subtitle {
		line-height: 1.2;
		margin: 0 0 rem(20);
	}
}

// Heroes with images floated left.
.hero-float-left {

	.hero-image {

		@include breakpoint( $tablet ) {
			margin-left: 0;
			margin-right: rem(30);
		}

		> a,
		> img {
			width: 75%; // 360px / 480px-wide container (at desktop widths / in mockups).
			margin: 0 auto;
		}
	}

	// Adding this at the bottom so it takes precedence over above rules.
	@include hero-float-margins( rem(70) );
}

// Heroes with images floated right.
.hero-float-right {

	.container {
		flex-direction: row-reverse;
	}

	.hero-logo {
		// These percentages come from the mobile mockups, where the hero section
		// (not including page padding) is 345px wide.
		margin: percentage(-40/345) percentage(105/345) 0 rem(16);

		@include breakpoint( $tablet ) {

			@include nested( 10 ) {
				width: span(5);
				margin: 0 0 0 gutter();
			}
		}

		img {
			margin: 0 auto;
			width: 100%;

			@include breakpoint( $tablet ) {
				width: span(3 of 5 wide);
			}
		}
	}

	.hero-image {
		margin: 0 ( -$page-padding ) 0 auto;
		width: percentage(295/345);
		display: flex;
		flex-direction: column;
		align-items: stretch;

		@include breakpoint( $tablet ) {
			width: span(5 of 10);
			margin-top: rem(-30);
		}

		img {
			width: 100%;
		}
	}

	// Adding this at the bottom so it takes precedence over above rules.
	@include hero-float-margins( rem(110) );
}

.home .hero {

	@include breakpoint( $medium ) {
		padding: 0 0 rem(32);
	}

	.container {
		flex-wrap: wrap;

		&:before {
			content: '';
		}

		@include breakpoint( $tablet ) {
			justify-content: space-between;
		}
	}

	.hero-image {
		align-self: stretch;
		flex-shrink: 1;
		display: flex;
		align-items: center;
		max-width: rem(520);

		@include breakpoint( max-width $tablet ) {
			// Add space between the image and the manifesto text.
			margin: rem(10) auto rem(30);
		}

		@include breakpoint( $desktop ) {
			// Remove negative margins added by hero-float-margins() on homepage.
			margin-bottom: 0;
		}

		// Add a logo that overlaps the main image.
		.logo-surround {
			width: 100%;
			margin-right: -100%;
			color: $white;
			fill: $white;
			pointer-events: none;
		}
	}

	.hero-text {
		width: auto;
		min-width: rem(300);
		// font-size: rem(17);
		align-self: center;
		padding-left: rem(24);
		padding-right: rem(24);
		background: $white;
		color: $charcoal;
		box-shadow: 0 10px 16px rgba($black, 0.2);
		margin-top: rem(30);
	}

	@include breakpoint( $tablet + 100px ) {

		.container {
			flex-wrap: nowrap;
		}

		.hero-text {
			width: span(4);
			margin-top: 0;
		}
	}
}

// Limit height of homepage hero by limiting image's width.
@include breakpoint( $medium ) {

	.home {

		.hero-image {
			width: calc(100vh - 258px);
		}

		&.admin-bar .hero-image {
			width: calc(100vh - 280px);
		}
	}
}
