.hero {
	text-align: center;
}

.hero-image,
.hero-image img {
	display: block;
	width: 100%;
	height: auto;
}

.hero-text {
	padding: rem(35) $page-padding rem(45);
	color: $white;
	background: $deep-blue;

	@include breakpoint( $tablet ) {
		display: inline-block;
		position: relative;
		z-index: 2; // Render on top of relatively positioned hero image.
		padding: rem(40) rem(60);
		margin-top: -4.7%; // 60px (overlap in mockups) / 1280px (hero width).

		// If no hero image is present, remove negative top margin.
		&:first-child {
			margin-top: 0;
		}
	}

	// Make hovered buttons' text match this element's background.
	.button-white:hover {
		color: $deep-blue;
	}
}

.hero-video {
	display: none;

	iframe {
		display: block;
	}
}

.hero-video-link {
	display: block;
	position: relative;

	&:after {
		content: ' ';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@extend .icon-video-play;
		background-repeat: no-repeat;
		background-position: center center;
		filter: drop-shadow( 1px 3px 12px rgba(0, 0, 0, 0.2) );
	}
}

/**
 * Styles for alternate hero layouts involving floated circular images.
 */

.hero-float {
	background: $deep-blue;
	color: $white;
	padding: rem(20) 0 rem(30);

	@include breakpoint( $tablet ) {
		padding: rem(60) 0;
		margin-bottom: rem(70 + 10); // Negative margin of .hero-image + desired bottom margin.
	}

	// Background patterns.
	.single-stories & {
		@extend .icon-bubbles-1-white;
		background-repeat: no-repeat;
		background-position: center center;
		width: auto;
		height: auto;
	}

	.container {

		@include breakpoint( $tablet ) {
			display: flex;
			justify-content: flex-start;
		}
	}

	.hero-image {

		img {
			border-radius: 50%;
			width: 75%; // 360px / 480px-wide container (at desktop widths / in mockups).
			margin: 0 auto;
		}

		@include breakpoint( $tablet ) {

			@include nested( 10 ) {
				// This hero section's layout does use the global column widths, more or
				// less, but they're all shuffled around.
				width: span(5); // Don't include gutter margin.
			}

			img {
				margin-bottom: rem(-70 - 60); // Desired overlap minus padding.
			}
		}
	}

	.hero-text {
		padding: rem(14) 0;
		margin: 0;
		text-align: left;
		line-height: 1.75;
		background: transparent;

		@include breakpoint( $tablet ) {
		
			@include nested( 10 ) {
				width: span(4);
			}
		}

	}

	.entry-subtitle {
		line-height: 1.2;
		margin: 0 0 rem(20);
	}
}

/**
 * Action links below hero (back to post type archive, etc.)
 */

.entry-actions {

	@include breakpoint( $tablet ) {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.back-link {
		@extend %charcoal-link;
		font-weight: normal;
		display: block;
		margin: rem(30) 0 rem(50);

		@include breakpoint( $tablet ) {
			margin: 0;
		}

		&:before {
			@extend .icon-back-link-arrow;
			content: '';
			display: inline-block;
			margin-right: rem(10);
		}
	}

	.share-buttons {
		display: flex;
		align-items: center;
		margin: rem(20) 0;
		// Reserve space for the full height of the 'large' AddThis share buttons,
		// even before they load (so content below doesn't jump when they do load).
		min-height: rem(37);

		h2 {
			margin: 0 rem(20) 0 0;
			font-size: rem(16);
			text-transform: uppercase;
		}
	}
}
