.hero {
	text-align: center;
}

.hero-image,
.hero-image img {
	display: block;
	width: 100%;
	height: auto;
}

.hero-text {
	padding: rem(35) $page-padding rem(45);
	color: $white;
	background: $deep-blue;

	@include breakpoint( $tablet ) {
		display: inline-block;
		padding: rem(40) rem(60);

		// If a hero image is present, overlap it.
		.hero-image + & {
			margin-top: rem(-60);
		}
	}
}
