/**
 * Styles for Stories Grid sections.
 */

.section-stories-grid {

	a {
		@extend %charcoal-link;
	}

	.content-section-grid {
		align-items: stretch; // Make all items the same height.
		justify-content: space-between; // Keep first and last items flush with edges.
	}

	.grid-item-3 {
		flex-grow: 0;
		margin: rem(25) 0;

		@include breakpoint( $tablet ) {
			width: 30%;
			margin-right: 3%;

			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}

	.grid-item {
		line-height: rem(32);
		position: relative; // so we can absolutely position .overlay-link
		background-color: $pale-silver;
		display: flex;
		flex-direction: column;

		h3,
		p {
			margin: 0;
		}

		h3 {
			font-size: rem(18);
			line-height: rem(32);
		}

		.entry-summary {
			padding: rem(30) rem(40);
			flex-grow: 1; // Fill available vertical space.
			// Center content vertically, so that entries without subtitles will have
			// their titles centered.
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&:hover {

			a {
				color: $lime;
			}

			.entry-quote {
				height: 100%;
				color: $white;
			}
		}

		&.bright-spot {

			.entry-quote {
				background-color: $gold;
			}

			&:hover {

				a {
					color: $gold;
				}
			}
		}
	}

	.entry-thumbnail {
		position: relative;

		img {
			width: 100%;
		}
	}

	.entry-quote {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: rem(20);
		padding: rem(10) 11% rem(10) 17%;
		overflow: hidden;
		// Vertically center content.
		display: flex;
		flex-direction: column;
		justify-content: center;
		background: $lime;
		color: transparent; // Hide text until hovered.
			font-size: rem(21);
		line-height: 1.5;
		font-weight: bold;
		transition: height 0.2s ease, color 0.2s ease;

		@include breakpoint( $tablet ) {
			font-size: rem(16); // Smaller text to fit in narrow grid items.
		}

		@include breakpoint( $desktop ) {
			font-size: rem(21); // Smaller text to fit in narrow grid items.
		}
	}

	.overlay-link {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}
