input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"] {}

textarea {
  border: 1px solid #c1c3c3;
  @include border-radius(2px);
  @include box-shadow(inset 1px 1px 2px #cfd1d1);
  box-sizing: border-box;
  padding: 2px;
}
