/**
 * Stuff in here automatically gets dumped underneath .prose on the frontend and into editor-styles for the back
 */

h1 {
  font: {
    size: percentage(24px / $baseSize);
    family: $display;
    weight: normal;
  };
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  font: {
    size: percentage(19px / $baseSize);
    weight: bold;
  };
  margin-bottom: 0;
}

h3, h4 {
  font: {
    size: percentage(17px / $baseSize);
    weight: normal;
  };
  margin-bottom: 0;
  text-transform: uppercase;
}

h5, h6 {
  font-weight: bold;
  font-size: 100%;
}

blockquote {
  margin: 1.3em 1.5em;
  padding: 0.2em 1em;
  font-style: italic;
  font-size: 112%;
}

.alignleft,
.alignright {
  padding: {
    top: 5px;
    bottom: 5px;
  };
  font-size: 92%;
  text-align: center;
  @include border-radius(5px);
  p {
    margin: 0.2em 0;
    font-style: italic;
  }
}

.alignright {
  float: right;
  margin: 0 0 0.5em 1em;
}

.alignleft {
  float: left;
  margin: 0 1em 0.5em 0;
}

/**
 * Other candidates:
 * p, hr, a...
 */
