/**
 * Styles for FacetWP elements.
 */

.facetwp-pager {
	@extend .button-group;
	font-size: rem(21);
	line-height: rem(33);
	text-align: center;

	> * {

		& ~ * {
			@include breakpoint( $tablet ) {
				// Add wider margins between items (.button-group only has 16px).
				margin-left: rem(32);
			}
		}
	}

	a {
		@extend %charcoal-link;
		margin-right: 0;
		padding: rem(4) 0;
		width: rem(45);
		border-radius: 50%;
		border: 2px solid transparent;
		background: transparent;

		&.disabled {
			opacity: 0.2;
		}
	}

	.page-number-link {

		&:hover {
			color: $bright-blue;
			border-color: $bright-blue;
		}

		&.active {
			color: $white;
			background: $bright-blue;
			border-color: $bright-blue;
		}
	}

	.icon-pager-arrow {
		display: inline-block;
	}

	.prev {
		@include breakpoint( $tablet ) {
			// This right margin plus the following item's 32px left margin = 68px
			// (which matches .next's left margin).
			margin-right: rem(36);
		}
	}

	.next {
		@include breakpoint( $tablet ) {
			margin-left: rem(68);
		}

		// Flip icon horizontally.
		span {
			transform: scaleX(-1.0);
		}
	}
}
