/**
 * Text intended for ATs only.
 */

.screen-reader-text {
	@include scut-hide-visually;
}

/**
 * Reset list styles for all menus.
 */

.menu,
.sub-menu {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		padding: 0;
		margin: 0;
	}

	a {
		@extend %charcoal-link;
	}
}

/**
 * Buttons.
 */

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-height: rem(55);
	padding: rem(10) rem(28 + 14);
	border-radius: rem(28);
	border: 2px solid;
	font-size: rem(15);
	line-height: 1.5;
	text-align: center;
	font-family: $sans;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;

	&.button-facebook {
		&:before {
			@include fa-icon;
			content: $fa-var-facebook;
			font-size: rem(22);
			line-height: 1;
			margin-right: rem(13);
		}
	}

	&.button-twitter {
		&:before {
			@include fa-icon;
			content: $fa-var-twitter;
			font-size: rem(22);
			line-height: 1;
			margin-right: rem(13);
		}
	}

	&.button-badge {
		// On small screens, badge buttons are 50px by 50px.
		padding: rem(12) 0;
		border-radius: 50%;
		font-size: rem(22);
		// Set width equal to vertical padding + border + font size.
		width: rem(50);

		@include breakpoint( $tablet ) {
			// On larger screens, go to 60px by 60px.
			padding: rem(14) 0;
			font-size: rem(28);
			width: rem(60);
		}

		// Remove margin from icons.
		&:before {
			font-size: 1em; // Inherit responsive font size from .button.
			margin-right: 0;
		}
	}

	@include colorize( button, rainbow social ) {
		color: $color;
		border-color: $color;
		background-color: transparent;
		&:hover {
			background-color: $color;
			color: #fff;
		}
	}

	&-solid {
		@include colorize( button, rainbow social ) {
			color: $white;
			background-color: $color;
			&:hover {
				color: $color;
				background-color: transparent;
			}
		}
	}
}

.button-group {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	.button {
		display: flex; // Fill container width (normally buttons are inline-flex).
	}

	> * {

		// At small screen sizes, always stack buttons.
		@include breakpoint( max-width ($tablet - 1px) ) {
			width: 100%;
		}

		& ~ * {

			@include breakpoint( max-width ($tablet - 1px) ) {
				margin-top: 1rem;
			}

			@include breakpoint( $tablet ) {
				margin-left: 1rem;
			}
		}
	}

	&.button-group-expand {
		> * {
			flex: 1 0 auto;
		}
	}
}

.totallyhidden {
	display: none !important;
	visibility: hidden;
}
