/**
 * Text intended for ATs only.
 */

.screen-reader-text {
	@include scut-hide-visually;
}

/**
 * Reset list styles for all menus.
 */

.menu,
.sub-menu {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		padding: 0;
		margin: 0;
	}

	a {
		color: $black;
		font-weight: bold;
		text-decoration: none;

		&:hover {
			color: $grass;
		}
	}
}

/**
 * Buttons.
 */

.button {
	display: inline-block;
	padding: rem(14) rem(28 + 14);
	border-radius: rem(28);
	border: 2px solid;
	font-size: rem(15);
	line-height: 1.5;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;

	@include colorize {
		color: $color;
		border-color: $color;
		background-color: transparent;
		&:hover {
			background-color: $color;
			color: #fff;
		}
	}

	&-solid {
		@include colorize {
			color: $white;
			background-color: $color;
			&:hover {
				color: $color;
				background-color: transparent;
			}
		}
	}
}

.button-group {
	display: flex;

	.button {
		flex: 1 0 auto;
	}
}
